{
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": { "printWidth": 120 }
    }
  ]
}


